/**
 * #.# Styles
 *
 * CSS for Backend.
 */
.wp-block-wcfpb-offer-product-variation{
    .wpcfp__offer-product-variation table, .wpcfp__offer-product-variation td{
        border   :   unset;
    }
}