/**
 * #.# Styles
 *
 * CSS for Backend.
 */
.wp-block-wcfpb-offer-product-image {
	// ol{
	//     margin-left     :   unset;
	//     margin-right    :   unset;
	//     margin-bottom   :   unset;
	//     padding-left    :   unset;
	// }

	.flex-control-thumbs {
		margin-left: unset;
		margin-right: unset;
		margin-bottom: unset;
		padding-left: unset;
		margin-top: 15px;
	}
}
