.cartflows-gutenberg__checkout-form .wcf-embed-checkout-form .wcf-hide-field label,
.cartflows-gutenberg__checkout-form .wcf-embed-checkout-form .wcf-hide-field span {
	display: block !important;
}

.form-row label {
	display: inline-block !important;
}

.cartflows-gutenberg__checkout-form .wcf-embed-checkout-form .wcf-hide-field {
	-webkit-box-align: unset;
	-webkit-align-items: unset;
	-moz-box-align: unset;
	-ms-flex-align: unset;
	align-items: unset;
	font-size: 13px;
}

p#order_comments_field {
	-js-display: unset !important;
	display: unset !important;
	display: unset !important;
	display: unset !important;
	display: unset !important;
	display: unset !important;
}

.cartflows-gutenberg__checkout-form .wcf-embed-checkout-form .woocommerce-additional-fields > h3 {
	margin: 0;
}

.cartflows-gutenberg__checkout-form .wcf-embed-checkout-form .woocommerce-checkout .col2-set .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper,
.cartflows-gutenberg__checkout-form .wcf-embed-checkout-form .woocommerce-checkout .wcf-col2-set .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper {
	margin: 0;
	box-sizing: inherit;
}

body .wcf-pre-checkout-offer-wrapper .wcf-pre-checkout-info {
	display: table-cell;
}

body .wcf-pre-checkout-offer-wrapper #wcf-pre-checkout-offer-content {
	display: block;
}

.woocommerce img,
.woocommerce-page img {
	height: auto;
	max-width: 100%;
}

.wp-block-wcfb-checkout-form .wcf-embed-checkout-form-two-column .woocommerce .wcf-product-option-wrap.wcf-product-option-before-order,
.wp-block-wcfb-checkout-form .wcf-embed-checkout-form-one-column .woocommerce .col2-set,
.wp-block-wcfb-checkout-form .wcf-embed-checkout-form-two-step .woocommerce-checkout .col2-set {
	width: 100%;
}

// .wcf-yp-skin-cards .wcf-qty-options .wcf-qty-row
