/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 .wp-block-wcfpb-offer-yes-no-link{
    margin-bottom: 25px;
    .wpcfp__offer-yes-no-link-url{
        text-decoration: none;
    }
    .wpcfp__offer-yes-no-link-url .wpcfp__offer-yes-no-link-text-wrap{
        display: inline-flex;
    }
    .wpcfp__offer-yes-no-link-url .wpcfp__offer-yes-no-link-text{
        align-self: center;
    }
    .wpcfp__offer-yes-no-link-url .wpcfp__offer-yes-no-link-icon{
        display: flex;
        align-self: center;
    }
}