
/**
 * #.# Styles
 *
 * CSS for Backend.
 */
 .wp-block-wcfpb-offer-product-price{
    .wpcfp__offer-product-price .wcf-offer-price .wcf-offer-price-inner{
        display   :   block !important;
    }
}