/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-wcfpb-offer-yes-no-button {
	margin-bottom: 25px;
	.wpcfp__offer-yes-no-button-link {
		display: inline-flex;
		text-decoration: none;
	}
	.wpcfp__offer-yes-no-button-link .wpcfp__offer-yes-no-button-content-wrap .wpcfp__offer-yes-no-button-title-wrap {
		display: inline-flex;
	}
	.wpcfp__offer-yes-no-button-link .wpcfp__offer-yes-no-button-title {
		align-self: center;
	}

	.wpcfp__offer-yes-no-button-link .wpcfp__offer-yes-no-button-icon {
		display: flex;
		align-self: center;
	}
}
