.cfp-typography-range-options .components-base-control__label {
	width: auto;
	display: block;
	margin-bottom: 8px;
}

.cfp-typography-option-actions button {
    margin: 0;
    float: right;
}

.cfp-typography-option-actions button svg {
    height: 15px;
    width: 15px;
}